/* Sticky footer styles
-------------------------------------------------- */

body {
  background: url('../images/white_carbon.png');
  color: #777777;
  font-size: 15px;
  font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
  margin-bottom: 50px;
  overflow: auto;
  min-height: 110%;
}

#name {
  padding: 10px;
  background-color: #4aaaa5;
}

.whiteonteal {
  color: #ffffff;
  background-color: #4aaaa5;
}

.moveleft {
  margin-left: -15px;
}

.teal {
  color: #4aaaa5;
}

hr {
  border-color: #777777;
}

.serif {
  font-family: 'Georgia', Times, Times New Roman, serif;
}

@media screen and (max-width: 768px) {
  #brand {
    background-color: #4aaaa5;
  }
}

#links a {
  text-decoration: none;
  color: #777777;
}

.btn,
.btn-primary {
  background-color: #4aaaa5;
  color: #ffffff;
}

footer {
  text-align: center;
  width: 100%;
  height: 50px;
  line-height: 50px;
  color: #ffffff;
  font-size: x-small;
  background-color: #666666;
  border-top-color: #4aaaa5;
  border-top-style: solid;
  border-top-width: 7px;
}
